<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Server side:IQ180</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #F8E8CF; font-family: 'Nunito', sans-serif;">
    <div id="app" class=container style="padding: 20px">  
        <h1 style="text-align: center">Server IQ 180</h1>
        <div class="row">
            <div class="col-4">
                <p style="text-align: center">Online User : {{numberOnlineUser}}</p>
                <ul>
                    <li v-for="user in onlineUser">{{user.name}}</li>
                </ul>
            </div>
            <div class="col-4">
                <p style="text-align: center">Ready User : {{numberReadyUser}}</p>
                <ul>
                    <li v-for="user in readyUser">{{user.name}}</li>
                </ul>
            </div>
            <div class="col-4">
                <p style="text-align: center">Single Player User : {{numberSinglePlayer}}</p>
                <ul>
                    <li v-for="user in singlePlayer">{{user.name}}</li>
                </ul>
            </div>
        </div>
        <div id="cheatsheet">
            <h3>Cheat Answer</h3>
            <p>Answer : {{problem}}</p>
            <button class="btn-primary" @click.prevent="reset">RESET</button>
        </div>
       

    </div>
    
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>